.menu {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100px; 
  background: black;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  z-index: 1000;
  padding: 10px;
}

.btn {
  width: 80px;
  height: 80px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 32px;
  color: #fff;
  z-index: 2; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease;
 
}

.btn:hover {
  transform: translateY(-5px);
}

.indicator {
  position: absolute;
  top: 30px; 
  width: 80px;
  height: 80px;
  background: black;
  border-radius: 50%;
  transform: translateX(0);
  transition: 0.4s ease;
  z-index: 1; 
}

.indicator::before,
.indicator::after {
  content: "";
  position: absolute;
  top: 18%;
  width: 24px;
  height: 24px;
  background: transparent;
  border-radius: 50%;
}

.indicator::before {
  left: -20px;
  box-shadow: 8px 12px black;
}

.indicator::after {
  right: -20px;
  box-shadow: -8px 12px black;
}

.btn.active {
  transform: translateY(-30%);
}

.btn.active i {
  width: 55px;
  height: 55px;
  background: var(--clr);
  border-radius: 50%;
  line-height: 55px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .menu {
    height: 80px;
  }
  .btn {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }
  .indicator {
    width: 60px;
    height: 60px;
    top: 40px; 
  }
}
